<div class="row">
  <div class="col">
    <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Eliminar heroe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          </div>
          <div class="modal-body">
            <p>Seguro que desea borrar los datos de {{heroe.nombre}} - {{heroe.casa}}?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="eliminarHeroe()" (onEliminarSuccess)="onEliminarParam()" data-dismiss="modal">Eliminar de todas formas</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>