  <div *ngIf="verAlert"  [ngClass]="{'alert-success' : tipoAlert == 'success' , 'alert-danger' : tipoAlert == 'error' ,'alert-warning' : tipoAlert == 'warning' }" class="alert  animated fadeIn fast"
      role="alert">
      {{msgAlert}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>