<h1>Heroes</h1>

<hr>
<div class="row">
  <div class="col-md-12 text-right">
    <button class="btn btn-outline-primary mb-2" type="button" name="button" [routerLink]="['/heroe','nuevo']">
  Nuevo
</button>

  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <app-alerta [verAlert]="verAlert" [msgAlert]="msgAlert" [tipoAlert]="tipoAlert"></app-alerta>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><i *ngIf="loading" class="fa fa-sync fa-spin background-color:white"></i> </th>
            <th scope="col">Nombre</th>
            <th scope="col">Casa</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let heroe of heroes; let i = index">
            <th scope="row">{{i}}</th>
            <td>{{heroe.nombre}}</td>
            <td>{{heroe.casa}}</td>
            <td><button type="button" [routerLink]="['/heroe',heroe.id]" class="btn btn-primary ">Editar</button> | <button type="button"
                class="btn btn-primary" (click)="onEliminar(heroe)" data-toggle="modal" data-target="#exampleModal">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-modal-eliminar [heroe]="heroeSeleccionado" (onEliminarSuccess)="onEliminarParam($event)"></app-modal-eliminar>