<div class="row mt-3">
  <div class="col-md-4">
    <h3>Heroe <small>nombre...</small></h3>
  </div>
  <div class="col-md-8">
    <button [routerLink]="['heroes']" class="btn btn-outline-danger float-right">Regresar</button>
  </div>
</div>


<hr>

<div class="row">
  <div class="col-md-12">

    <form (ngSubmit)="onSubmit()" [formGroup]="forma" >
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="nombre" formControlName="nombre" class="form-control" placeholder="Nombre del heroe" required>
      </div>
      <div class="form-group">
        <label>Casa</label>
        <select class="form-control" name="casa" formControlName="casa">
          <option value="">Seleccionar...</option>
          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
        </select>
      </div>

      <div class="form-group">
        <label>Bio</label>
        <textarea type="text" formControlName="bio" name="bio" class="form-control" required></textarea>
      </div>
      <div class="form-group">
        <button [disabled]="!forma.valid"  type="submit"  class="btn btn-outline-primary">Submit</button>
      </div>
    </form>

  </div>
</div>